.footer {
  background-color: rgba(223, 203, 213, 0.3);
  width: 100vw;
  height: 10.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-content {
  background-color: rgba(192, 129, 176, 0.7);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  font-size: 0.7rem;
}
