.footer-content {
  position: absolute;
  top: 1900px;
  background-color: rgba(83, 72, 73, 0.7);
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  font-size: 0.7rem;
}
