.failed-to-detect {
  position: absolute;
  top: 0;
  left: 0;
  border: 7px solid rgb(197, 0, 0);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 3px;
}

.failed-to-detect h3 {
  margin-top: 0.5rem;
  color: rgb(197, 0, 0);
  font-weight: 800;
  text-shadow: 0 0 5px rgba(180, 180, 180, 0.7);
}
