.failed-to-detect {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid red;
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 3px;
}

.failed-to-detect h3 {
  margin-top: 0.5rem;
  color: red;
  font-weight: 300;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}
