.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  overflow-x: hidden !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: max-content;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}
